<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Survey List </h3>
          <!-- ADD BUTTON -->
          <a href="surveys/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a survey</a>
          <br>
          <div class="table-responsive survey_table">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Question_1</th>
                  <th class="text-center">Answer_1</th>
                  <th class="text-center">Question_2</th>
                  <th class="text-center">Answer_2</th>
                  <th class="text-center">Question_3</th>
                  <th class="text-center">Answer_3</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < surveys.length; count++) { %>
                <tr>
                  <td><%= surveys[count].Title %></td>
                  <td class="text-center"><%= surveys[count].Date %></td>
                  <td class="text-center"><%= surveys[count].Description %></td>
                  <td class="text-center"><%= surveys[count].Question_1 %></td>
                  <td class="text-center"><%= surveys[count].Answer_1 %></td>
                  <td class="text-center"><%= surveys[count].Question_2 %></td>
                  <td class="text-center"><%= surveys[count].Answer_2 %></td>
                  <td class="text-center"><%= surveys[count].Question_3 %></td>
                  <td class="text-center"><%= surveys[count].Answer_3 %></td>
                <!-- EDIT BUTTON -->
                  <td class="text-center">
                    <a href="surveys/edit/<%= surveys[count]._id %>" class="bt btn-primary btn-sm">
                     Edit</a>
                  </td>
                <!-- DELETE BUTTON -->
                  <td class="text-center">
                    <a href="/surveys/delete/<%= surveys[count]._id %>" class="bt btn-danger btn-sm">
                     Delete</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


